#logo_company{
    margin: 5px 10px;
    height: 55px;
    width: 50px;
}

.nav-wrapper ul li{
    font-weight: bold;
    font-size: larger;
}

.nav-wrapper ul li a:hover{
    color: #e2b213;
}

#arrow_drop_down:hover{
    background: #0288d1, .4;
    color: #e2b213;
    border-left: 1px solid #05578369;
}

#dropdown-shop{
    background-color: #eee;
}

#dropdown-shop *{
    color: #0288d1;
}

#dropdown-shop a:hover{
    background-color: #0288d1;
    color: #eee;
}

.drop-category{
    text-align: center;
}

.drop-subcategory{
    border: 1px solid black;
    font-size:small;
}